# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
myenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Build files
dist/
build/

